body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Cor de fundo da página */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Centraliza verticalmente na tela */
    margin: 0;
  }
  
  form {
    background-color: #fff; /* Cor de fundo do formulário */
    border: 1px solid #ccc;
    padding: 3rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 420px; /* Largura do formulário */
    text-align: center;
  }
  
  form label {
    display: block;
    margin-bottom: 10px;
  }
  
  form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  form button {
    background-color: #007bff; /* Cor do botão de envio */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #0056b3; /* Cor do botão ao passar o mouse */
  }
  
.message {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    padding: 1.5rem;
    text-align: center;
    font-size: 1.6rem;
}